<header>

  <h1>Welcome to Shine <%= current_user.email %></h1>
  <h2>We are using Rails <%= Rails.version %></h2>
  <section>
    <p>
      Future Home of Shines Dashboard.
    </p>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
  </section>
</header>
